<nav class="navbar navbar-expand-lg bg-secondary-subtle p-3">
    <a class="navbar-brand" href="/">Hyperledger Fabric App</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/query">All Assets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Create Asset</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/read">Read Asset</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/evaluate">Evaluate Asset</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/update">Update Asset</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/transfer">Transfer Asset</a>
      </li>
    </ul>
  </nav>