<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <br>
        <h1>Proyecto Extra: Writing Your First Application</h1>
        <h2>Hyperledger Fabric</h2>

        <br>
            <p>Universidad Nacional Autónoma de México</p>
            <p>Facultad de Ingenieria </p>
            <p>Ingeniería en Computación </p>
            <p>Criptografía - Grupo 2 — Semestre 2023-1 </p>

        <br>
        <h3>Autores</h3>
        <ul>
            <li>Durán González Lizeth 💻 </li>
            <li>López Sosa Nelly Paola 💻 </li>
            <li>Nava Rosales Juan Manuel 💻</li>
        </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>